.jumbotron{
  height: 75vh;
  display: flex;
  align-items: center;
  /*background-image: url(../../resources/images/IMG_1350.jpg);
  background-size: contain;
  background-repeat: no-repeat;*/

}

.technical{
  padding:0 0 20px 0;
}
.myPortfolio{
  background-color: #333;
  padding: 15px 0;
}
.image-container{
  overflow: hidden;
}

.image-container img:hover{
  /*opacity: 1;*/
  transition: 0.5s;
  transform: scale(1.3);
}
footer{
  margin-top: 15px;
  color: #ffffff;
  background-color: #333;
  padding: 20px 0;
  border-radius: 7px;
}
.jumbotron-container{
margin: 0 50px;
}
.white-txt{
  color: white;
}
.contact-bg{
  background-color: #337ab7;
  border-radius: 8px;
  padding: 10px 0;
}
#email {
  visibility: hidden;
}
@media only screen and (max-width:767px){
  .jumbotron-container{
  margin: 0 0;
  }
}
